# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# ===============================
# Docker
# ===============================
*.tar
*.gz

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Flutter
# ===============================
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# ===============================
# Mac / Windows
# ===============================
.DS_Store
Thumbs.db
